body {
	margin: 0;
	padding: 0;
	background: #36465d;
	font-family: 'open sans', sans-serif;
}
.logo h1 {
	margin: 0;
	font-size: 70px;
	color: #fff;
	text-align: center;
	font-weight: 500;
	margin-top: 50%;
}
.logo h2 {
	margin: 0;
	margin-top: 40%;
	font-size: 70px;
	color: #fff;
	text-align: center;
	font-weight: 500;
}
.form form {
	width: 350px;
	margin: 0 auto;
}
.input-box {
	background: #fff;
	padding: 4px 0px;
	border-radius: 4px;
}
form input[type="email"], form input[type="text"],  form input[type="password"] {
	border: none;
	outline: none;
	font-size: 18px;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}
form input[type="email"],form input[type="text"] {
	border-bottom: 1px solid #ddd;
}
form input[type="submit"] {
	margin: 10px 0;
	border: none;
	font-size: 18px;
	font-weight: bold;
	width: 350px;
	background: #529ecc;
	color: #fff;
	padding: 8px;
	border-radius: 2px;
	cursor: pointer;
	transition: background 0.2s;
}
form input[type="submit"]:active {
	color: #ddd;
	background: #386d8c;
	transition: background 0.2s;
}
form p {
	text-align: center;
}
form p a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
form p a:hover {
	text-decoration: underline;
}
